.card-design-community {
  width: 348px;
  height: 302px;
  border: 1px solid #d8dce3;
  margin-left: 20px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  &:hover {
    border: 1px solid #ff8800;
    .card-design-top {
      .card-design-top-right {
        .attention-handle {
          opacity: 1;
        }
      }
    }
  }
  .card-design-top {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    .card-design-top-left {
      font-size: 12px;
      p {
        margin-bottom: 4px;
        color: #333333;
        width: 150px;
        span {
          color: #666666;
        }
      }
      p:nth-child(1) {
        font-size: 14px;
        color: #ff8800;
      }
    }
    .card-design-top-right {
      position: relative;
      width: 138px;
      height: 168px;
      // border: 1px solid red;
      //background: url('../../../../../../../../assets/img/community/Face_White_BG.svg');
      background: url('../../../../../assets/img/community/Face_White_BG.svg');
      padding: 4px;
      .attention-handle {
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        position: absolute;
        top: 2px;
        right: 5px;
        opacity: 0;
        z-index: 100;
        text-align: center;
        border-radius: 3px;
        img{
          width: 16px;
          height: 16px;
        }
      }
      .focusTrue {
        opacity: 1;
      }
      .watermask {
        position: absolute;
        top: 61px;
        left: 25px;
        display: block;
        color: rgba(255, 255, 255, 0.2);
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
        font-size: 8px;
        transform: rotate(45deg);
        z-index: 1;
      }
      img {
        height: 100%;
        width: 100%;
        border-radius: 3px;
      }
    }
  }
  .card-design-line {
    height: 1px;
    background: #d8dce3;
  }
  .card-design-line-anoter {
    height: 1px;
    background: #d8dce3;
    //margin-top: -8px;
  }
  .circle-half {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    position: relative;
    &:hover{
      .circle-half-community{
        opacity:0;
      }
      .pop-hover-detail{
       
        height: auto;
        //min-height: 55px;
        max-height: 125px;
        padding-top: 3px;
        //padding-bottom: 20px;
        .bottom-click{
          opacity: 1;
        }
      }
    }
    .pop-hover-detail {
      transition:max-height 0.3s linear;
      //transition:min-height 1.5s ease;
      max-height:0;
      //max-height: 995px;
      height:0;
      position: absolute;
      width: 100%;
      overflow: hidden;
     /*  min-height: 55px;
      max-height: 995px; */
      //height: auto;
      //padding-bottom: 20px;
     // height: 0;
      /* min-height: 60px;
        max-height: 90px; */
      bottom: 0;
      z-index: 10;
      left: 0;
      //border: 1px solid red;
      background: rgba(255, 255, 255, 0.9);
      //border: 1px solid red;
      .circle-detail {
        display: flex;
        height: 63%;
        max-height: 105px;
        flex-wrap: wrap;
        overflow-y: auto;
        //border: 1px solid red;
        padding-left: 6px;
        margin-bottom: 20px;
        //padding-top: 3px;
        .circle-half-community-diff {
          height: 24px;
          width: auto;
          border-radius: 12px;
          border: 1px solid #ffbb22;
          padding: 0 10px 0 10px;
          margin: 5px;
          color: #ff8800;
          font-size: 12px;
          //text-align: center;
          line-height: 22px;
        }
      }
      .bottom-click {
        position: absolute;
        bottom: 3px;
        left: 40%;
        text-align: center;
        font-family: PingFang-SC-Regular;
        font-size: 12px;
        color: #666666;
        text-align: center;
        padding-top: 3px;
        opacity: 0;
        &:hover{
          color: #ffbb22;
        }
      }
    }
    /* .pop-hover-detail {
      transition: 0.3s;
      position: absolute;
      width: 100%;
      height: 93px;
      bottom: 0;
      z-index: 10;
      left: 0;
      //border: 1px solid red;
      background: rgba(255, 255, 255, 0.9);
      //border: 1px solid red;
      .circle-detail {
        display: flex;
        height: 68px;
        flex-wrap: wrap;
        overflow-y: auto;
        //border: 1px solid red;
        padding-left: 6px;
        padding-top: 3px;
        .circle-half-community {
          height: 24px;
          width: auto;
          border-radius: 12px;
          border: 1px solid #ffbb22;
          padding: 0 10px 0 10px;
          margin: 5px;
          color: #ff8800;
          font-size: 12px;
          //text-align: center;
          line-height: 22px;
        }
      }
      .bottom-click {
        text-align: center;
        font-family: PingFang-SC-Regular;
        font-size: 12px;
        color: #666666;
        text-align: center;
        padding-top: 3px;
        &:hover{
          color: #ffbb22;
        }
      }
    } */
    .add-tag {
      width: 84px;
      height: 24px;
      cursor: pointer;
      .real-tag {
        text-align: center;
        border: 1px solid #8899bb;
        line-height: 23px;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        display: inline-block;
        margin-left: 8px;
        &:hover {
          color: #ff8800;
          border-color: #ff8800;
        }
      }
    }
    .circle-half-community {
      height: 24px;
      width: auto;
      border-radius: 12px;
      border: 1px solid #ffbb22;
      padding: 0 10px 0 10px;
      margin: 5px;
      color: #ff8800;
      font-size: 12px;
      //text-align: center;
      line-height: 22px;
    }
    .circle-half-community-more {
      height: 24px;
      width: auto;
      border-radius: 12px;
      //border: 1px solid #FFBB22;
      padding: 0 10px 0 10px;
      margin: 5px;
      color: #333333;
      font-size: 12px;
      //text-align: center;
      line-height: 24px;
    }
  }
  .card-design-bottom {
    font-size: 12px;
    padding: 5px 10px 3px 10px;
    //margin-top: -4px;
    position: relative;
    .attention-select {
      position: absolute;
      right: 5px;
      bottom: 12px;
      cursor: pointer;
    }
    p {
      margin-bottom: 4px;
      color: #333333;
      span {
        color: #666666;
      }
    }
  }
}
.diffheight {
  height: 226px;
}
.attention_poppver {
  .ant-popover-content {
    margin-top: 18px;
    width: 60px;
    height: 45px;
    .ant-popover-inner {
      height: 25px;
      .ant-popover-inner-content {
        color: #333333;
        height: 30px;
        padding: 4px 5px;
        font-size: 12px;
      }
    }
  }
}
.community_poppver-tag {
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner {
    margin-left: 85px;

    background-color: rgba(255, 255, 255, 0.9);
  }
  .ant-popover-inner-content {
    height: 100px;
    width: 348px;
    margin-top: 200px;
  }
}
