@import '../../../../../assets/css/base';
.monitee_tasks_add{
	.task_top{
		border: 1px solid  #D8DCE3;
		height: 49px;
		.tasks_add_title{
			font-size: 18px;
			line-height: 48px;
			width: 1000px;
			margin: 0 auto;
			color: $c-main-orange;
		}
	}
	.ant-form{
		width: 1000px;
		margin: 25px auto 0;
		padding-bottom: 50px;
	}
	.header_step_title{
		height: 28px;
		font-size: 14px;
		color: $c-333;
		border-bottom: 1px solid #B5BBC7;
		margin: 0;
		font-weight: 800;
		padding-left: 14px;
	}
	.form-submit-btn{
		margin: 16px auto 0;
		text-align: center;
		button:nth-child(2){
			margin-left: 8px;
		}
	}
}

	